@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card {
    @apply border border-[var(--auera-card-border)] shadow-card bg-[--auera-card-bg];
  }

  .border-image {
    border-image: initial;
  }

  .input-outline {
    @apply bg-[var(--auera-input-outline-bg)]
     border-1.7 border-[var(--auera-input-outline-border)]
     transition-all duration-300 ease-in-out
     hover:border-blue-400
     focus-within:border-blue-600
     focus-within:shadow-[0_0_0_3px_rgba(59,130,246,0.3)];
  }

  .skeleton {
    @apply overflow-hidden relative animate-pulse inline-block p-1 theme-light:bg-slate-200 theme-dark:bg-neutral-700;
  }

  .auera-btn-outline-base {
    @apply tone-light:bg-white tone-light:text-black tone-light:hover:bg-gray-100 tone-light:border-neutral-300
    tone-dark:bg-black tone-dark:text-white tone-dark:hover:bg-slate-900 tone-dark:border-neutral-800;
  }

  .auera-btn-outline-frost {
    @apply shadow-[var(--auera-neutral-100)_0_-1px_0_1px_inset,_var(--auera-neutral-200)_0_1px_2px_0]
    tone-dark:shadow-[var(--auera-neutral-800)_0_-1px_0_1px_inset,_var(--auera-neutral-900)_0_1px_2px_0];
  }

  .switch {
    @apply flex cursor-pointer  p-1 rounded-full data-[ison=true]:justify-end;
  }
}

@keyframes dots {
  0% {
    content: ".";
  }
  20% {
    content: "..";
  }
  40% {
    content: "...";
  }
  60% {
    content: "..";
  }
  80% {
    content: ".";
  }
  100% {
    content: ".";
  }
}

.animate-dots::after {
  animation: dots 1.5s steps(5) infinite;
  position: absolute;
  content: ".";
}
