@tailwind base;
@tailwind components;
@tailwind utilities;

html[select-open="true"],
body[select-open="true"] {
  overflow-y: hidden;
}

@layer utilities {
  body {
    @apply bg-background;
  }
  .border-image {
    border-image: initial;
  }

  input {
    @apply ring-0 focus:ring-0 focus:outline-none;
  }

  .skeleton {
    @apply overflow-hidden relative animate-pulse inline-block p-1
    theme-light:bg-slate-200 theme-dark:bg-neutral-700;
  }
}

@keyframes dots {
  0% {
    content: ".";
  }
  20% {
    content: "..";
  }
  40% {
    content: "...";
  }
  60% {
    content: "..";
  }
  80% {
    content: ".";
  }
  100% {
    content: ".";
  }
}

.animate-dots::after {
  animation: dots 1.5s steps(5) infinite;
  position: absolute;
  content: ".";
}
