:root {
  /* Primary colors */
  --auera-primary-50: #e3f2fd;
  --auera-primary-100: #bbdefb;
  --auera-primary-200: #90caf9;
  --auera-primary-300: #64b5f6;
  --auera-primary-400: #42a5f5;
  --auera-primary-500: #2196f3;
  --auera-primary-600: #1e88e5;
  --auera-primary-700: #1976d2;
  --auera-primary-800: #1565c0;
  --auera-primary-900: #0d47a1;

  /* Tertiary colors */
  --auera-tertiary-50: #fff8e1;
  --auera-tertiary-100: #ffecb3;
  --auera-tertiary-200: #ffe082;
  --auera-tertiary-300: #ffd54f;
  --auera-tertiary-400: #ffca28;
  --auera-tertiary-500: #ffc107;
  --auera-tertiary-600: #ffb300;
  --auera-tertiary-700: #ffa000;
  --auera-tertiary-800: #ff8f00;
  --auera-tertiary-900: #ff6f00;

  /* Neutral colors */
  --auera-neutral-50: rgb(250, 250, 250);
  --auera-neutral-100: rgb(245, 245, 245);
  --auera-neutral-200: rgb(229, 229, 229);
  --auera-neutral-300: rgb(212, 212, 212);
  --auera-neutral-400: rgb(163, 163, 163);
  --auera-neutral-500: rgb(115, 115, 115);
  --auera-neutral-600: rgb(82, 82, 82);
  --auera-neutral-700: rgb(64, 64, 64);
  --auera-neutral-800: rgb(38, 38, 38);
  --auera-neutral-900: rgb(23, 23, 23);
  --auera-neutral-950: rgb(10, 10, 10);

  /* Gray colors */
  --auera-gray-50: rgb(249, 250, 251);
  --auera-gray-100: rgb(243, 244, 246);
  --auera-gray-200: rgb(229, 231, 235);
  --auera-gray-300: rgb(209, 213, 219);
  --auera-gray-400: rgb(156, 163, 175);
  --auera-gray-500: rgb(107, 114, 128);
  --auera-gray-600: rgb(75, 85, 99);
  --auera-gray-700: rgb(55, 65, 81);
  --auera-gray-800: rgb(31, 41, 55);
  --auera-gray-900: rgb(17, 24, 39);
  --auera-gray-950: rgb(3, 7, 18);

  /* Slate colors */
  --auera-slate-50: rgb(248, 250, 252);
  --auera-slate-100: rgb(241, 245, 249);
  --auera-slate-200: rgb(226, 232, 240);
  --auera-slate-300: rgb(203, 213, 225);
  --auera-slate-400: rgb(148, 163, 184);
  --auera-slate-500: rgb(100, 116, 139);
  --auera-slate-600: rgb(71, 85, 105);
  --auera-slate-700: rgb(51, 65, 85);
  --auera-slate-800: rgb(30, 41, 59);
  --auera-slate-900: rgb(15, 23, 42);
  --auera-slate-950: rgb(2, 6, 23);

  /* Blue colors */
  --auera-blue-50: #eff6ff;
  --auera-blue-100: #dbeafe;
  --auera-blue-200: #bfdbfe;
  --auera-blue-300: #93c5fd;
  --auera-blue-400: #60a5fa;
  --auera-blue-500: #3b82f6;
  --auera-blue-600: #2563eb;
  --auera-blue-700: #1d4ed8;
  --auera-blue-800: #1e40af;
  --auera-blue-900: #1e3a8a;
  --auera-blue-950: #172554;

  /* Red colors */
  --auera-red-50: #fef2f2;
  --auera-red-100: #fee2e2;
  --auera-red-200: #fecaca;
  --auera-red-300: #fca5a5;
  --auera-red-400: #f87171;
  --auera-red-500: #ef4444;
  --auera-red-600: #dc2626;
  --auera-red-700: #b91c1c;
  --auera-red-800: #991b1b;
  --auera-red-900: #7f1d1d;
  --auera-red-950: #450a0a;

  /* Yellow colors */
  --auera-yellow-50: #fffbeb;
  --auera-yellow-100: #fef3c7;
  --auera-yellow-200: #fde68a;
  --auera-yellow-300: #fcd34d;
  --auera-yellow-400: #fbbf24;
  --auera-yellow-500: #f59e0b;
  --auera-yellow-600: #d97706;
  --auera-yellow-700: #b45309;
  --auera-yellow-800: #92400e;
  --auera-yellow-900: #78350f;
  --auera-yellow-950: #451a03;

  /* Green colors */
  --auera-green-50: #ecfdf5;
  --auera-green-100: #d1fae5;
  --auera-green-200: #a7f3d0;
  --auera-green-300: #6ee7b7;
  --auera-green-400: #34d399;
  --auera-green-500: #10b981;
  --auera-green-600: #059669;
  --auera-green-700: #047857;
  --auera-green-800: #065f46;
  --auera-green-900: #064e3b;
  --auera-green-950: #022c22;

  /* Soft colors, only for dark mode */
  --auera-soft-red: rgb(255, 205, 210, 0.2);
  --auera-soft-yellow: rgb(255, 249, 196, 0.2);
  --auera-soft-green: rgb(200, 230, 201, 0.2);
  --auera-soft-blue: rgb(187, 222, 251, 0.2);

  --auera-frost-light-danger: var(--auera-red-100);
  --auera-frost-light-danger-out: var(--auera-red-200);
  --auera-frost-light-primary: hsla(210, 100%, 90%, 0.4);
  --auera-frost-light-primary-out: hsla(210, 100%, 90%, 0.5);
  --auera-frost-light-success: var(--auera-green-100);
  --auera-frost-light-success-out: var(--auera-green-200);
  --auera-frost-light-warn: var(--auera-yellow-100);
  --auera-frost-light-warn-out: var(--auera-yellow-200);
  --auera-neumorphic-outline: var(--auera-neutral-400);
  --auera-neumorphic-outline-out: var(--auera-neutral-200);
  --auera-frost-outline: var(--auera-neutral-100);
  --auera-frost-outline-out: var(--auera-neutral-200);
  --auera-corprate-outline: #000;
  --auera-corprate-dimmed-primary: var(--auera-blue-100);
  --auera-corprate-dimmed-success: var(--auera-green-100);
  --auera-corprate-dimmed-danger: var(--auera-red-100);
  --auera-corprate-dimmed-warn: var(--auera-yellow-100);
  --auera-drawer-content: white;
  --auera-input-outline-bg: white;
  --auera-input-outline-border: var(--auera-neutral-200);
  --auera-input-outline-fb: var(--auera-blue-200);
  --auera-input-color: black;
  --auera-card-bg: white;
  --auera-text-color: black;
  --auera-text-muted: var(--auera-slate-700);

  --auera-frost-light-danger-border: var(--auera-red-200);
  --auera-frost-light-success-border: var(--auera-green-200);
  --auera-frost-light-warn-border: var(--auera-yellow-200);
  --auera-frost-light-primary-border: var(--auera-blue-100);
  --auera-frost-outline-border: var(--auera-neutral-200);
  /* --auera-corporate-outline-border: var(--auera-neutral-300); */
  --auera-card-border: var(--auera-neutral-200);

  --auera-frost-light-danger-hover: var(--auera-red-50);
  --auera-frost-light-success-hover: var(--auera-green-50);
  --auera-frost-light-warn-hover: var(--auera-yellow-50);
  --auera-frost-light-primary-hover: var(--auera-blue-50);
  --auera-corprate-outline-hover: var(--auera-neutral-100);
  --auera-corprate-ghost-primary-hover: var(--auera-blue-100);
  --auera-corprate-ghost-success-hover: var(--auera-green-100);
  --auera-corprate-ghost-danger-hover: var(--auera-red-100);
  --auera-corprate-ghost-warn-hover: var(--auera-yellow-100);
  --auera-corprate-light-primary-hover: var(--auera-blue-200);
  --auera-corprate-light-success-hover: var(--auera-green-200);
  --auera-corprate-light-danger-hover: var(--auera-red-200);
  --auera-corprate-light-warn-hover: var(--auera-yellow-200);

  background: #fff;

  --auera-card-sh: rgba(0, 0, 0, 0.05);
}

html[data-theme="dark"] {
  --auera-frost-light-danger: hsla(0, 100%, 50%, 0.4);
  --auera-frost-light-danger-out: hsla(0, 100%, 55%, 0.5);
  --auera-frost-light-primary: hsla(220, 90%, 60%, 0.4);
  --auera-frost-light-primary-out: hsla(220, 90%, 65%, 0.5);
  --auera-frost-light-success: hsla(140, 80%, 45%, 0.4);
  --auera-frost-light-success-out: hsla(140, 80%, 50%, 0.5);
  --auera-frost-light-warn: hsla(50, 100%, 50%, 0.4);
  --auera-frost-light-warn-out: hsla(50, 100%, 55%, 0.5);
  --auera-neumorphic-outline: var(--auera-neutral-800);
  --auera-neumorphic-outline-out: var(--auera-neutral-600);
  --auera-frost-outline: var(--auera-neutral-800);
  --auera-frost-outline-out: var(--auera-neutral-900);
  --auera-corprate-outline: #fff;
  --auera-corprate-dimmed-primary: var(--auera-soft-blue);
  --auera-corprate-dimmed-success: var(--auera-soft-green);
  --auera-corprate-dimmed-danger: var(--auera-soft-red);
  --auera-corprate-dimmed-warn: var(--auera-soft-yellow);
  --auera-drawer-content: black;
  --auera-input-outline-bg: black;
  --auera-input-outline-border: var(--auera-neutral-800);
  --auera-input-outline-fb: var(--auera-blue-500);
  --auera-input-color: white;
  --auera-card-bg: black;
  --auera-text-color: white;
  --auera-text-muted: #a1a1aa;

  /* Border color */
  --auera-frost-light-danger-border: var(--auera-soft-red);
  --auera-frost-light-success-border: var(--auera-soft-green);
  --auera-frost-light-warn-border: var(--auera-soft-yellow);
  --auera-frost-light-primary-border: var(--auera-soft-blue);
  --auera-frost-outline-border: var(--auera-neutral-800);
  /* --auera-corporate-outline-border: var(--auera-neutral-800); */
  --auera-card-border: var(--auera-neutral-800);

  /* Hover color */
  --auera-frost-light-danger-hover: var(--auera-slate-900);
  --auera-frost-light-success-hover: var(--auera-slate-900);
  --auera-frost-light-warn-hover: var(--auera-slate-900);
  --auera-frost-light-primary-hover: var(--auera-slate-900);
  --auera-corprate-outline-hover: var(--auera-neutral-800);
  --auera-corprate-ghost-primary-hover: var(--auera-soft-blue);
  --auera-corprate-ghost-success-hover: var(--auera-soft-green);
  --auera-corprate-ghost-danger-hover: var(--auera-soft-red);
  --auera-corprate-ghost-warn-hover: var(--auera-soft-yellow);
  --auera-corprate-light-primary-hover: var(--auera-slate-900);
  --auera-corprate-light-success-hover: var(--auera-slate-900);
  --auera-corprate-light-danger-hover: var(--auera-slate-900);
  --auera-corprate-light-warn-hover: var(--auera-slate-900);

  background: #000;

  /* Shadow */
  --auera-card-sh: var(--auera-neutral-900);
}
