@import "tailwindcss";

/* @import "auera-ui/auera.css"; */
@import "./toc.css";

@config '../../tailwind.config.ts';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  .detailCard {
    background: linear-gradient(var(--dc-first-bg), var(--dc-second-bg));
    border-color: var(--dc-border);
  }

  .li {
    @apply font-medium text-xs font-inter flex items-center gap-1;
  }

  .ul {
    @apply list-none p-0;
  }

  .a {
    @apply text-muted no-underline block hover:text-primary hover:scale-105 transition-colors;
  }

  .a.active,
  .active.a {
    @apply font-normal text-blue-500 relative;
  }

  .level-h2 {
    @apply pl-0;
  }

  .level-h2 .level-icon {
    @apply hidden;
  }

  .level-icon {
    /* Hidden in h2, shown in h3 */
    .level-h2 & {
      @apply hidden;
    }
    .level-h3 & {
      @apply block;
    }
  }

  .level-h3 {
    @apply relative;
  }

  .level-h3 .level-icon {
    @apply block;
  }

  .text {
    @apply text-dim-black font-inter font-normal text-base;
  }

  .header-link {
    @apply no-underline items-center flex w-full h-auto gap-2;
  }

  .header-link svg {
    @apply hidden absolute -left-2 translate-y-[1.15re];
  }

  .header-link:hover svg {
    display: block;
  }

  .header-3 {
    @apply text-primary font-semibold leading-normal text-lg font-inter tracking-[0.1px];
  }

  .header-2 {
    @apply text-primary font-semibold leading-normal text-[1.45rem] font-inter tracking-[0.1px];
  }

  .cb {
    @apply border-[1.2px] p-[1px_5px_1px_5px] rounded-[0.37rem] bg-[var(--cb)] border-border font-normal text-[13px] text-primary;
  }

  .block-cmd {
    @apply border-border bg-[var(--block)] shadow-xs shadow-shadow;
  }

  .nav-hover {
    @apply relative;
  }

  .nav-hover::after {
    @apply absolute -bottom-0.5 left-0 h-[2px] w-full origin-bottom-right scale-x-0 bg-blue-500 transition-transform duration-300 ease-[cubic-bezier(0.65_0.05_0.36_1)];
  }

  .nav-hover:hover::after {
    @apply origin-bottom-left scale-x-100;
  }

  .skeleton {
    @apply overflow-hidden relative animate-pulse inline-block p-1 theme-light:bg-slate-200 theme-dark:bg-neutral-700;
  }

  .drawer-demo-card {
    @apply theme-dark:bg-neutral-900 theme-light:bg-white hover:theme-dark:from-neutral-800 hover:theme-dark:to-slate-900;
  }

  .tblink {
    position: relative;
  }

  .tblink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.3px;
    background: var(--auera-blue-300);
    bottom: 1px;
    z-index: 1;
  }

  .tblink:hover::before {
    background: var(--auera-blue-600);
  }
}

:root {
  --nav-bar: rgb(255, 255, 255, 0.5);
  --text-color: black;
  --text-muted: var(--auera-slate-700);
  --cmd-bg: #eeeeef;
  --cmd-code: var(--auera-gray-800);
  --scrollbar-thumb: var(--auera-neutral-300);
  --scrollbar-thumb-hover: var(--auera-neutral-400);
  --sidebar-border: var(--auera-border);
  --sidebar: var(--auera-sidebar);
  --side-icon: var(--auera-neutral-50);
  --dc-first-bg: #fff;
  --dc-second-bg: var(--auera-blue-50);
  --dc-border: var(--auera-blue-200);
  --dim-black: #52525b;
  --cb: var(--auera-gray-100);
  --cb-border: var(--auera-neutral-200);
  --block: #000;
}

html[data-theme="dark"] {
  --nav-bar: rgb(0, 0, 0, 0.5);
  --text-color: white;
  --text-muted: #a1a1aa;
  --cmd-bg: #19191c;
  --cmd-code: white;
  --scrollbar-thumb: var(--auera-neutral-500);
  --scrollbar-thumb-hover: var(--auera-neutral-700);
  --side-icon: var(--auera-slate-900);
  --dc-first-bg: #000005;
  --dc-second-bg: var(--auera-soft-blue);
  --dc-border: var(--auera-blue-800);
  --dim-black: #b6bec9;
  --cb: var(--auera-neutral-900);
  --cb-border: var(--auera-neutral-800);
  --block: var(--auera-neutral-900);
  --block-border: var(--auera-neutral-700);
}

body {
  scroll-behavior: smooth;
  /* background: var(--auera-background); */
}

.colored {
  background: linear-gradient(
    to bottom,
    var(--auera-blue-400),
    var(--auera-blue-700)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.tag {
  position: relative;
}
.tag::before {
  content: "";
  position: absolute;
  top: 13rem;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--auera-blue-700);
  transform: perspective(10px) rotateX(10deg) scale(1, 0.2);
  filter: blur(1em);
  opacity: 0.5;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}

.shake {
  animation: shake 0.2s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(6px);
  }
}

@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}
.animate-wave {
  animation: wave 1.2s infinite ease-in-out;
}

.shiki {
  background: none !important;
}
