@import "auera-ui/dist/auera.css";
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html[color-scheme="light"] {
  --nav-bar: rgb(255, 255, 255, 0.5);
  background: white;
  --text-color: black;
  --text-dim: var(--neutral-500);
  --cmd-bg: #eeeeef;
  --cmd-code: var(--gray-800);
  --scrollbar-thumb: var(--neutral-300);
  --scrollbar-thumb-hover: var(--neutral-500);
  --sidebar-border: var(--neutral-200);
  --sidebar: white;
  --side-icon: var(--neutral-50);
  --input-outline-bg: white;
  --input-outline-border: var(--neutral-200);
  --input-outline-fb: var(--blue-200);
  --input-color: black;
}
html[color-scheme="dark"] {
  --nav-bar: rgb(0, 0, 0, 0.5);
  --text-color: white;
  --text-dim: var(--gray-500);
  --cmd-bg: #19191c;
  --cmd-code: white;
  --scrollbar-thumb: var(--neutral-500);
  --scrollbar-thumb-hover: var(--neutral-700);
  --sidebar-border: var(--neutral-800);
  /* --sidebar: #121212; */
  --sidebar: #000;
  --side-icon: var(--slate-900);
  --input-outline-bg: black;
  --input-outline-border: var(--neutral-800);
  --input-outline-fb: var(--blue-500);
  --input-color: white;
}

.colored {
  background: linear-gradient(to bottom, var(--blue-400), var(--blue-700));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.tag {
  position: relative;
}
.tag::before {
  content: "";
  position: absolute;
  top: 13rem;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--blue-700);
  transform: perspective(10px) rotateX(10deg) scale(1, 0.2);
  filter: blur(1em);
  opacity: 0.5;
}

@layer utilities {
  .input-outline {
    @apply bg-[var(--input-outline-bg)] 
           border-[1.35px] border-[var(--input-outline-border)]
           transition-all duration-300 ease-in-out 
           hover:border-blue-400 
           focus-within:border-blue-600
           focus-within:shadow-[0_0_0_3px_rgba(59,130,246,0.3)];
  }
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}
